1. What are data structures, and why are they important
  - **Data structures** are ways to organize and store data so it can be used efficiently.

**Importance:** They make data processing faster, help manage large data, and improve performance of algorithms and programs.

2. Explain the difference between mutable and immutable data types with examples
   - **Mutable data types** can be changed after creation.
Example: `list = [1, 2, 3]` → you can add or remove elements.

**Immutable data types** cannot be changed after creation.
Example: `tuple = (1, 2, 3)` → you can’t modify elements.

3. What are the main differences between lists and tuples in Python
 - List → Mutable (can change)
* Tuple→ Immutable (cannot change)
* List uses `[]`, **Tuple** uses `()`
* List is slower, **Tuple** is faster
* List allows item modification, **Tuple** does not

4. Describe how dictionaries store data
  - **Dictionaries** store data as **key–value pairs**.
Each key is **unique** and maps to a value.
Example:

```python
student = {"name": "Rahul", "age": 20}
```
 `"name"` and `"age"` are keys, and their values are `"Rahul"` and `20`

 5. What is a string in Python, and how is it different from a list
   - A **string** is a sequence of characters written in quotes (`" "` or `' '`).
Example: `"hello"`

**Difference from list:**

* String is **immutable**, list is **mutable**
* String stores **characters**, list can store **any data type**

6. Why might you use a set instead of a list in Python
  - You might use a **set** instead of a list when you need:

* **Unique elements only** (no duplicates)
* **Fast membership checks** (`in` operation is faster than list)
* **Set operations** like union, intersection, difference

7. How do tuples ensure data integrity in Python
  - **Tuples ensure data integrity** because they are **immutable** — once created, their elements **cannot be changed, added, or removed**.
This prevents accidental modification of data.

8. What is a hash table, and how does it relate to dictionaries in Python
  - A **hash table** is a data structure that stores **key–value pairs** and uses a **hash function** to compute an index for each key for fast access.

**Relation to Python dictionaries:**

* Python **dictionaries are implemented using hash tables**, allowing **quick lookup, insertion, and deletion** of items.

9. Can lists contain different data types in Python
  - Yes**lists can contain different data types** in Python.

Example:my_list = [1, "hello", 3.5, True]

10. Explain why strings are immutable in Python
   - Strings are **immutable** in Python to **ensure data safety, consistency, and efficient memory usage**.

* Once created, a string **cannot be changed**, which allows Python to **reuse string objects** and avoid accidental modifications.

11. What advantages do dictionaries offer over lists for certain tasks
  - **Advantages of dictionaries over lists:**

* **Fast lookup:** Access values by key in **O(1)** time vs. O(n) in lists
* **Key–value pairing:** Store related data together
* **Unique keys:** Prevent duplicates in keys
* **Flexible data access:** Retrieve, update, or delete items directly by key

12. Describe a scenario where using a tuple would be preferable over a list
  - **Scenario:** Storing **fixed data that shouldn’t change**, like coordinates or RGB values.

Example:

```python
point = (10, 20)  # x, y coordinates
colors = (255, 0, 0)  # RGB value
```

Using a tuple prevents accidental modification.

13. How do sets handle duplicate values in Python
  - **Sets automatically remove duplicates** — only **unique elements** are stored.

Example:my_set = {1, 2, 2, 3}
print(my_set)  

14.  How does the “in” keyword work differently for lists and dictionaries
   - * **Lists:** `in` checks if a **value exists** in the list.
lst = [1, 2, 3]
2 in lst  

  * **Dictionaries:** `in` checks if a **key exists**, **not the value**.

  d = {"a": 1, "b": 2}
"a" in d  
1 in d    

15. Can you modify the elements of a tuple? Explain why or why not
   - No , you **cannot modify elements of a tuple** because tuples are **immutable**.

* Once created, their elements **cannot be changed, added, or removed**, which helps protect data integrity.

16. What is a nested dictionary, and give an example of its use case
   - A **nested dictionary** is a dictionary **inside another dictionary**.

**Use case:** Storing structured data like student records.

Example:students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary
  - **Accessing elements in a dictionary** has an average **time complexity of O(1)** — constant time — because Python dictionaries use **hash tables**.

* Worst-case (rare, due to hash collisions) can be **O(n)**.

18. In what situations are lists preferred over dictionaries
  - **Lists are preferred when:**

* **Order matters** (they preserve insertion order)
* **Duplicate elements are allowed**
* You need **indexed access** by position rather than key
* Simple **sequential data storage** is enough, e.g., a list of numbers or names

19. Why are dictionaries considered unordered, and how does that affect data retrieval
  - Dictionaries are **unordered** because their items are stored based on **hash values of keys**, not insertion order (in Python < 3.7).

**Effect on data retrieval:**

* You **cannot rely on order** when iterating over items.
* Accessing a value **by key is fast**, but order of keys is not guaranteed.

20. Explain the difference between a list and a dictionary in terms of data retrieval
  - * **List:** Retrieve elements by **index** (position).

  ```python
  lst = [10, 20, 30]
  lst[1]  # 20
  ```

* **Dictionary:** Retrieve elements by **key** (not position).

  ```python
  d = {"a": 10, "b": 20}
  d["b"]  # 20
  ```

* **Efficiency:** Dictionary lookup is **faster (O(1))**, list lookup by value is **O(n)**.

In [2]:
# Write a code to create a string with your name and print it
name = "Muhammed Shahid"
print(name)

Muhammed Shahid

In [4]:
# Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [5]:
# Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [14]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [15]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [16]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [17]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [18]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [19]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [22]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [23]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [24]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name": "Muhammed Shahid", "age": 20, "city": "Hyderabad"}
print(d)

{'name': 'Muhammed Shahid', 'age': 20, 'city': 'Hyderabad'}

In [25]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [27]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [29]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
d = {'a': 7, 'b': 8}
print(lst, tup, d)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [30]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)

[4, 7, 33, 42, 89]

In [31]:
#  Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [32]:
#  Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
# Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'apple', 'cherry', 'banana'}